:root {
  --primary-color: #F5F2E6;
  --text-color: #362391;
  --border-button: 2px solid #f6eb9a;
  --border-radius-button: 34px;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
   background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.primary-designe {
  font-family: "Cormorant", serif;
  color: var(--text-color);
}
.page-headline2 {
  font-size: 46px;
}
.page-headline {
  font-size: 56px;
}

.buttons-links a {
  font-size: 26px;
  text-decoration: none;
  border: var(--border-button);
  border-radius: var(--border-radius-button);
  padding: 8px;
  box-shadow: var(--box-shadow);
}
.contact-link {
  background-color: #F1EAED;
  color: var(--text-color);
}
.contact-link:hover {
  background-color: #EDE4F2;
}
.about-link {
  background-color:#F1EAED;
  color: var(--text-color);
}
.about-link:hover {
  background-color: #EDE4F2;
}
.homepage-link {
  font-size: 20px;
  color: var(--text-color);
}
.about-columns {
  display: flex;
  justify-content: space-around;
}

.email-link {
  text-decoration: none;
  font-size: 25px;
  color: var(--text-color);
}
.email-link:hover {
  text-decoration: underline;
}
.bg-lp-images {
  background-color: var(--primary-color);
}
