:root {
  --primary-color: #f5f2e6;
  --text-color: #5c5470;
  --border-button: 2px solid #f1eaed;
  --border-radius-button: 4px;
  --box-shadow: 0 5px 10px #5c5470;
}
body {
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
nav {
  font-family: "Didact Gothic", sans-serif;
}
.primary-designe {
  font-family: "Didact Gothic", sans-serif;
  color: var(--text-color);
}
.page-headline2 {
  font-size: 46px;
}
.page-headline {
  font-size: 56px;
}

.buttons-links a {
  font-size: 24px;
  text-decoration: none;
  border: var(--border-button);
  border-radius: var(--border-radius-button);
  padding: 8px;
  box-shadow: var(--box-shadow);
}
.contact-link {
  background-color: #f1eaed;
  color: var(--text-color);
}
.contact-link:hover {
  background-color: #ede4f2;
  color: var(--text-color);
}
.carousel-caption {
  font-family: "Didact Gothic", sans-serif;
}

.homepage-link {
  font-size: 20px;
  color: var(--text-color);
}
.about-columns {
  display: flex;
  justify-content: space-around;
}

.email-link {
  text-decoration: none;
  font-size: 25px;
  color: var(--text-color);
}
.email-link:hover {
  text-decoration: underline;
  color: var(--text-color);
}
.bg-lp-images {
  background-color: var(--primary-color);
}
.social-links {
  font-size: 36px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.social-links a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px;
}
.social-links a:hover {
  color: var(--text-color);
}
.social-link-logo {
  transform: none;
}
.social-link-logo:hover {
  transform: scale(1.2);
}
.code-link:hover {
  text-decoration: underline;
}
